/*********
* Avatar *
*********/
.avatar {
  border: 1px solid rgba(0, 0, 0, 0.23);
  border-radius: 50%;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05), inset 0 1px 0 0 rgba(255, 255, 255, 0.45), inset 0 -1px 0 0 rgba(255, 255, 255, 0.15), 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.23); }

/**level bars**/
.sidebar .source-list.view.level-bar, .sidebar iconview.source-list.level-bar, .sidebar .source-list.view.level-bar:selected, .sidebar iconview.source-list.level-bar:selected, .sidebar .source-list.view.level-bar:selected:focus, .sidebar iconview.source-list.level-bar:selected:focus {
  background: linear-gradient(to right, #4e586d, #4e586d);
  border: 1px solid rgba(0, 0, 0, 0.14);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  border-radius: 2px; }
.sidebar .source-list.view.level-bar.fill-block, .sidebar iconview.source-list.level-bar.fill-block {
  border: none; }
.sidebar .source-list.view.fill-block, .sidebar iconview.source-list.fill-block, .sidebar .source-list.view.fill-block:hover, .sidebar iconview.source-list.fill-block:hover, .sidebar .source-list.view.fill-block:selected, .sidebar iconview.source-list.fill-block:selected, .sidebar .source-list.view.fill-block:selected:focus, .sidebar iconview.source-list.fill-block:selected:focus {
  background: linear-gradient(to right, #ebcb8b, #ebcb8b); }

/**************************
 * Colors in context menu *
**************************/
checkbutton.color-button {
  border: 1px solid #232831;
  border-radius: 100px;
  background-clip: border-box;
  padding: 0;
  margin: 2px 1px; }
  checkbutton.color-button > check {
    -gtk-icon-source: none;
    background: none;
    margin-right: 0;
    padding: 2px; }
  checkbutton.color-button.none > check {
    background-color: transparent;
    border-radius: 100px;
    -gtk-icon-source: -gtk-icontheme("close-symbolic"); }

radiobutton.color-button > radio {
  -gtk-icon-source: none;
  margin-right: 0;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 100px;
  background-clip: border-box; }
radiobutton.color-button:active > radio {
  border: 1px solid rgba(0, 0, 0, 0.35); }

.color-button check,
.color-button check:checked,
.color-button radio,
.color-button radio:checked {
  background-image: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  color: #3b4252;
  -gtk-icon-source: -gtk-icontheme("check-active-symbolic"); }
.color-button.red check, .color-button.red radio, s
.color-button.strawberry check, .color-button.strawberry radio {
  background-color: @STRAWBERRY_300;
  -gtk-icon-shadow: 0 1px 1px @STRAWBERRY_500; }
.color-button.orange check, .color-button.orange radio {
  background-color: @ORANGE_300;
  -gtk-icon-shadow: 0 1px 1px @ORANGE_500; }
.color-button.yellow check, .color-button.yellow radio, .color-button.banana check, .color-button.banana radio {
  background-color: @BANANA_500;
  -gtk-icon-shadow: 0 1px 1px @BANANA_700; }
.color-button.green check, .color-button.green radio, .color-button.lime check, .color-button.lime radio {
  background-color: @LIME_500;
  -gtk-icon-shadow: 0 1px 1px @LIME_700; }
.color-button.blue check, .color-button.blue radio, .color-button.blueberry check, .color-button.blueberry radio {
  background-color: @BLUEBERRY_500;
  -gtk-icon-shadow: 0 1px 1px @BLUEBERRY_700; }
.color-button.purple check, .color-button.purple radio, .color-button.grape check, .color-button.grape radio {
  background-color: @GRAPE_500;
  -gtk-icon-shadow: 0 1px 1px @GRAPE_700; }
.color-button.brown check, .color-button.brown radio, .color-button.cocoa check, .color-button.cocoa radio {
  background-color: @COCOA_300;
  -gtk-icon-shadow: 0 1px 1px @COCOA_500; }
.color-button.mint check, .color-button.mint radio {
  background-color: @MINT_500;
  -gtk-icon-shadow: 0 1px 1px @MINT_700; }
.color-button.pink check, .color-button.pink radio, .color-button.bubblegum check, .color-button.bubblegum radio {
  background-color: @BUBBLEGUM_500;
  -gtk-icon-shadow: 0 1px 1px @BUBBLEGUM_700; }
.color-button.slate check, .color-button.slate radio {
  background-color: @SLATE_300;
  -gtk-icon-shadow: 0 1px 1px @SLATE_500; }
.color-button.auto radio {
  background-image: url("assets/color-button-auto.png");
  background-position: -1px -1px;
  background-repeat: no-repeat;
  background-size: calc(100% + 2px); }

.xfce4-panel.panel {
  background-color: @theme_selected_fg_color;
  text-shadow: none;
  -gtk-icon-shadow: none; }

#tasklist-button {
  color: rgba(216, 222, 233, 0.8);
  border-radius: 0;
  border: none;
  background-color: rgba(46, 52, 64, 0); }
  #tasklist-button:hover {
    color: #f9fafb;
    background-color: rgba(0, 0, 0, 0.17); }
  #tasklist-button:checked {
    color: white;
    background-color: rgba(0, 0, 0, 0.25);
    box-shadow: inset 0 -2px @theme_selected_bg_color; }

.xfce4-panel.panel button.flat {
  color: @theme_fg_color;
  border-radius: 0;
  border: none;
  background-color: rgba(46, 52, 64, 0); }
  .xfce4-panel.panel button.flat:hover {
    border: none;
    background-color: #434c5e; }
  .xfce4-panel.panel button.flat:active, .xfce4-panel.panel button.flat:checked {
    color: @theme_selected_fg_color;
    border: none;
    background-color: @theme_selected_bg_color; }
    .xfce4-panel.panel button.flat:active label, .xfce4-panel.panel button.flat:active image, .xfce4-panel.panel button.flat:checked label, .xfce4-panel.panel button.flat:checked image {
      color: inherit; }

#whiskermenu-window button {
  background-color: transparent;
  border: none;
  border-radius: 0;
  font-weight: normal;
  padding: 3px;
  margin: 1px 2px; }
  #whiskermenu-window button:hover, #whiskermenu-window button:checked {
    background-color: @theme_selected_bg_color; }

