/****************
 * Text Entries *
 ****************/
spinbutton:not(.vertical), entry {
  min-height: 28px;
  padding-left: 8px;
  padding-right: 8px;
  border: 1px solid;
  border-radius: 3px;
  transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  color: @theme_fg_color;
  border-color: #232831;
  background-color: #3b4252; }
  spinbutton:not(.vertical) image.left,
  entry image.left {
    padding-left: 0;
    padding-right: 6px; }
  spinbutton:not(.vertical) image.right,
  entry image.right {
    padding-left: 6px;
    padding-right: 0; }
  spinbutton:not(.vertical) undershoot.left,
  entry undershoot.left {
    background-color: transparent;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.2) 50%, rgba(0, 0, 0, 0.2) 50%);
    padding-left: 1px;
    background-size: 1px 10px;
    background-repeat: repeat-y;
    background-origin: content-box;
    background-position: left center;
    border: none;
    box-shadow: none; }
  spinbutton:not(.vertical) undershoot.right,
  entry undershoot.right {
    background-color: transparent;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.2) 50%, rgba(0, 0, 0, 0.2) 50%);
    padding-right: 1px;
    background-size: 1px 10px;
    background-repeat: repeat-y;
    background-origin: content-box;
    background-position: right center;
    border: none;
    box-shadow: none; }
  spinbutton.flat:focus:not(.vertical), spinbutton.flat:not(.vertical),
  entry.flat:focus,
  entry.flat {
    min-height: 0;
    padding: 2px;
    background-image: none;
    border-color: transparent;
    box-shadow: none;
    border-radius: 0; }
  spinbutton:focus:not(.vertical),
  entry:focus {
    border-color: #6fa9a8; }
  spinbutton:disabled:not(.vertical),
  entry:disabled {
    color: #8e95a4;
    border-color: rgba(35, 40, 49, 0.3);
    background-color: #404859;
    box-shadow: none; }
  spinbutton:backdrop:not(.vertical),
  entry:backdrop {
    color: #b9bfcb;
    border-color: #262c36;
    background-color: #3d4455;
    box-shadow: none;
    transition: 200ms ease-out; }
  spinbutton:backdrop:disabled:not(.vertical),
  entry:backdrop:disabled {
    color: #63708b;
    border-color: rgba(35, 40, 49, 0.3);
    background-color: #404859;
    box-shadow: none; }
  spinbutton.error:not(.vertical),
  entry.error {
    color: @theme_fg_color;
    border-color: #232831;
    background-color: #3b4252;
    color: #b84f59;
    border-color: #3c181c; }
    spinbutton.error:focus:not(.vertical),
    entry.error:focus {
      border-color: #3c181c; }
    spinbutton.error:selected:focus:not(.vertical), spinbutton.error:selected:not(.vertical),
    entry.error:selected:focus,
    entry.error:selected {
      background-color: #b84f59; }
  spinbutton.warning:not(.vertical),
  entry.warning {
    color: @theme_fg_color;
    border-color: #232831;
    background-color: #3b4252;
    color: #c3674a;
    border-color: #442116; }
    spinbutton.warning:focus:not(.vertical),
    entry.warning:focus {
      border-color: #442116; }
    spinbutton.warning:selected:focus:not(.vertical), spinbutton.warning:selected:not(.vertical),
    entry.warning:selected:focus,
    entry.warning:selected {
      background-color: #c3674a; }
  spinbutton:not(.vertical) image,
  entry image {
    color: #b9bfcb; }
    spinbutton:not(.vertical) image:hover,
    entry image:hover {
      color: @theme_fg_color; }
    spinbutton:not(.vertical) image:active,
    entry image:active {
      color: @theme_selected_bg_color; }
    spinbutton:not(.vertical) image:backdrop,
    entry image:backdrop {
      color: #7e8594; }
  spinbutton:drop(active):focus:not(.vertical), spinbutton:drop(active):not(.vertical),
  entry:drop(active):focus,
  entry:drop(active) {
    border-color: #a3be8c;
    box-shadow: inset 0 0 0 1px #a3be8c; }
  .osd spinbutton:not(.vertical),
  .osd entry {
    color: @theme_fg_color;
    border-color: #232831;
    background-color: rgba(35, 40, 49, 0.5);
    box-shadow: none;
    text-shadow: 0 1px black;
    -gtk-icon-shadow: 0 1px black; }
    .osd spinbutton:focus:not(.vertical),
    .osd entry:focus {
      color: @theme_fg_color;
      border-color: @theme_selected_bg_color;
      background-color: rgba(35, 40, 49, 0.5);
      background-clip: padding-box;
      text-shadow: 0 1px black;
      -gtk-icon-shadow: 0 1px black; }
    .osd spinbutton:backdrop:not(.vertical),
    .osd entry:backdrop {
      color: @theme_fg_color;
      border-color: #232831;
      background-color: rgba(35, 40, 49, 0.5);
      background-clip: padding-box;
      box-shadow: none;
      text-shadow: none;
      -gtk-icon-shadow: none; }
    .osd spinbutton:disabled:not(.vertical),
    .osd entry:disabled {
      color: #808690;
      border-color: #232831;
      background-color: rgba(58, 63, 73, 0.5);
      background-clip: padding-box;
      box-shadow: none;
      text-shadow: none;
      -gtk-icon-shadow: none; }
spinbutton:not(.vertical) progress,
entry progress {
  margin: 2px -6px;
  background-color: transparent;
  background-image: none;
  border-radius: 0;
  border-width: 0 0 2px;
  border-color: @theme_selected_bg_color;
  border-style: solid;
  box-shadow: none; }
  spinbutton:not(.vertical) progress:backdrop,
  entry progress:backdrop {
    background-color: transparent; }
.linked:not(.vertical) > spinbutton:focus:not(.vertical) + spinbutton:not(.vertical), .linked:not(.vertical) > spinbutton:focus:not(.vertical) + button, .linked:not(.vertical) > spinbutton:focus:not(.vertical) + combobox > box > button.combo, .linked:not(.vertical) >
entry:focus + spinbutton:not(.vertical), .linked:not(.vertical) >
entry:focus + button, .linked:not(.vertical) >
entry:focus + combobox > box > button.combo, .linked:not(.vertical) > spinbutton:focus:not(.vertical) +
entry, .linked:not(.vertical) >
entry:focus +
entry {
  border-left-color: #6fa9a8; }
.linked:not(.vertical) > spinbutton:focus:not(.vertical), .linked:not(.vertical) >
entry:focus {
  border-color: #6fa9a8; }
.linked:not(.vertical) > spinbutton:drop(active):not(.vertical) + spinbutton:not(.vertical), .linked:not(.vertical) > spinbutton:drop(active):not(.vertical) + button, .linked:not(.vertical) > spinbutton:drop(active):not(.vertical) + combobox > box > button.combo, .linked:not(.vertical) >
entry:drop(active) + spinbutton:not(.vertical), .linked:not(.vertical) >
entry:drop(active) + button, .linked:not(.vertical) >
entry:drop(active) + combobox > box > button.combo, .linked:not(.vertical) > spinbutton:drop(active):not(.vertical) +
entry, .linked:not(.vertical) >
entry:drop(active) +
entry {
  border-left-color: #a3be8c; }
.linked.vertical > spinbutton:not(:disabled):not(.vertical) + entry:not(:disabled), .linked.vertical > spinbutton:not(:disabled):not(.vertical) + spinbutton:not(:disabled):not(.vertical), .linked.vertical >
entry:not(:disabled) + entry:not(:disabled), .linked.vertical >
entry:not(:disabled) + spinbutton:not(:disabled):not(.vertical) {
  border-top-color: #343a48;
  background-image: linear-gradient(to bottom, #3b4252, #3b4252); }
  .linked.vertical > spinbutton:not(:disabled):not(.vertical) + entry:not(:disabled):backdrop, .linked.vertical > spinbutton:not(:disabled):not(.vertical) + spinbutton:not(:disabled):backdrop:not(.vertical), .linked.vertical >
  entry:not(:disabled) + entry:not(:disabled):backdrop, .linked.vertical >
  entry:not(:disabled) + spinbutton:not(:disabled):backdrop:not(.vertical) {
    border-top-color: #363d4c;
    background-image: linear-gradient(to bottom, #3d4455, #3d4455); }
.linked.vertical > spinbutton:disabled:not(.vertical) + spinbutton:disabled:not(.vertical), .linked.vertical > spinbutton:disabled:not(.vertical) + entry:disabled, .linked.vertical >
entry:disabled + spinbutton:disabled:not(.vertical), .linked.vertical >
entry:disabled + entry:disabled {
  border-top-color: #343a48; }
.linked.vertical > spinbutton:not(.vertical) + spinbutton:focus:not(:only-child):not(.vertical),
.linked.vertical > spinbutton:not(.vertical) + entry:focus:not(:only-child), .linked.vertical >
entry + spinbutton:focus:not(:only-child):not(.vertical),
.linked.vertical >
entry + entry:focus:not(:only-child) {
  border-top-color: #6fa9a8; }
.linked.vertical > spinbutton:not(.vertical) + spinbutton:drop(active):not(:only-child):not(.vertical),
.linked.vertical > spinbutton:not(.vertical) + entry:drop(active):not(:only-child), .linked.vertical >
entry + spinbutton:drop(active):not(:only-child):not(.vertical),
.linked.vertical >
entry + entry:drop(active):not(:only-child) {
  border-top-color: #a3be8c; }
.linked.vertical > spinbutton:focus:not(:only-child):not(.vertical) + spinbutton:not(.vertical),
.linked.vertical > spinbutton:focus:not(:only-child):not(.vertical) + entry,
.linked.vertical > spinbutton:focus:not(:only-child):not(.vertical) + button,
.linked.vertical > spinbutton:focus:not(:only-child):not(.vertical) + combobox > box > button.combo, .linked.vertical >
entry:focus:not(:only-child) + spinbutton:not(.vertical),
.linked.vertical >
entry:focus:not(:only-child) + entry,
.linked.vertical >
entry:focus:not(:only-child) + button,
.linked.vertical >
entry:focus:not(:only-child) + combobox > box > button.combo {
  border-top-color: #6fa9a8; }
.linked.vertical > spinbutton:drop(active):not(:only-child):not(.vertical) + spinbutton:not(.vertical),
.linked.vertical > spinbutton:drop(active):not(:only-child):not(.vertical) + entry,
.linked.vertical > spinbutton:drop(active):not(:only-child):not(.vertical) + button,
.linked.vertical > spinbutton:drop(active):not(:only-child):not(.vertical) + combobox > box > button.combo, .linked.vertical >
entry:drop(active):not(:only-child) + spinbutton:not(.vertical),
.linked.vertical >
entry:drop(active):not(:only-child) + entry,
.linked.vertical >
entry:drop(active):not(:only-child) + button,
.linked.vertical >
entry:drop(active):not(:only-child) + combobox > box > button.combo {
  border-top-color: #a3be8c; }

treeview entry:focus:dir(rtl), treeview entry:focus:dir(ltr) {
  background-color: #3b4252;
  transition-property: color, background; }
treeview entry.flat, treeview entry {
  border-radius: 0;
  background-image: none;
  background-color: #3b4252; }
  treeview entry.flat:focus, treeview entry:focus {
    border-color: @theme_selected_bg_color; }

