/*************
 * Level Bar *
 *************/
levelbar block {
  min-width: 32px;
  min-height: 6px; }
levelbar.vertical block {
  min-width: 6px;
  min-height: 32px; }
levelbar:backdrop {
  transition: 200ms ease-out; }
levelbar trough {
  padding: 3px;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1); }
  levelbar trough:backdrop {
    background-color: rgba(255, 255, 255, 0.06);
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1); }
levelbar.horizontal.discrete block {
  margin: 0 1px; }
levelbar.vertical.discrete block {
  margin: 1px 0; }
levelbar block {
  border-radius: 2px; }
  levelbar block:backdrop {
    box-shadow: none; }
  levelbar block.low {
    background-color: #c3674a; }
    levelbar block.low:backdrop {
      border-color: #c3674a; }
  levelbar block.high, levelbar block:not(.empty) {
    background-color: #5e81ac; }
    levelbar block.high:backdrop, levelbar block:not(.empty):backdrop {
      border-color: #5e81ac; }
  levelbar block.full {
    background-color: #49688e; }
    levelbar block.full:backdrop {
      border-color: #49688e; }
  levelbar block.empty {
    background-color: rgba(0, 0, 0, 0.35);
    box-shadow: none; }

