/************
 * GtkScale *
 ************/
progressbar trough, scale trough, scale fill {
  background-color: rgba(255, 255, 255, 0.14);
  border: none;
  border-radius: 3px;
  margin: 0; }
  progressbar trough:disabled, scale trough:disabled, scale fill:disabled {
    background-color: rgba(255, 255, 255, 0.06); }
  progressbar trough:backdrop, progressbar:backdrop trough, scale trough:backdrop, scale fill:backdrop {
    background-color: rgba(255, 255, 255, 0.06);
    transition: 200ms ease-out; }
    progressbar trough:backdrop:disabled, progressbar:backdrop trough:disabled, scale trough:backdrop:disabled, scale fill:backdrop:disabled {
      background-color: rgba(255, 255, 255, 0.06); }

progressbar progress, scale highlight {
  border: none;
  background-color: @theme_selected_bg_color;
  border-radius: 3px;
  margin: 0; }
  progressbar progress:disabled, scale highlight:disabled {
    border: none;
    background-color: rgba(255, 255, 255, 0.14); }
  progressbar progress:backdrop, progressbar:backdrop progress, scale highlight:backdrop, progressbar progress:active:backdrop, progressbar:backdrop progress:active, scale highlight:active:backdrop {
    border-color: #9fc6c5;
    background-color: #9fc6c5; }
    progressbar progress:backdrop:disabled, progressbar:backdrop progress:disabled, scale highlight:backdrop:disabled, progressbar progress:active:backdrop:disabled, progressbar:backdrop progress:active:disabled, scale highlight:active:backdrop:disabled {
      background-color: rgba(255, 255, 255, 0.06); }

scale {
  min-height: 16px;
  min-width: 16px;
  padding: 8px; }
  scale.horizontal trough,
  scale.horizontal progress {
    min-height: 6px; }
  scale.vertical trough,
  scale.vertical progress {
    min-width: 6px; }
  scale slider {
    min-height: 16px;
    min-width: 16px;
    margin: -7px;
    background-color: #3b4252;
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition-property: background, border, box-shadow; }
    scale slider:active {
      background-color: @theme_selected_bg_color; }
      scale slider:active:disabled {
        background-color: #404859;
        box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0px 0px 1px 1px rgba(0, 0, 0, 0.05); }
  scale.fine-tune.horizontal {
    padding-top: 9px;
    padding-bottom: 9px;
    min-height: 16px; }
  scale.fine-tune.vertical {
    padding-left: 9px;
    padding-right: 9px;
    min-width: 16px; }
  scale.fine-tune slider {
    margin: -6px; }
  scale.fine-tune fill,
  scale.fine-tune highlight,
  scale.fine-tune trough {
    border-radius: 5px;
    -gtk-outline-radius: 7px; }
  scale trough {
    outline-offset: 2px;
    -gtk-outline-radius: 5px;
    outline-color: transparent; }
  scale fill:backdrop, scale fill {
    background-color: #232831; }
  scale fill:disabled:backdrop, scale fill:disabled {
    border-color: transparent;
    background-color: transparent; }
  .osd scale fill {
    background-color: #50565f; }
    .osd scale fill:disabled:backdrop, .osd scale fill:disabled {
      border-color: transparent;
      background-color: transparent; }
  scale slider {
    border-color: #f1f1f1;
    border: none;
    border-radius: 12px;
    background-color: #f1f1f1; }
    scale slider:active {
      border-color: #6fa9a8; }
    scale slider:disabled {
      background-color: #b2b2b2;
      box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0px 0px 1px 1px rgba(0, 0, 0, 0.1); }
    scale slider:backdrop, scale slider:backdrop:disabled {
      transition: 200ms ease-out;
      background-color: #b2b2b2;
      box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0px 0px 1px 1px rgba(0, 0, 0, 0.1); }
    row:selected scale slider:disabled, row:selected scale slider {
      border-color: #6fa9a8; }
    .osd scale slider {
      color: @theme_fg_color;
      border-color: #232831;
      background-color: rgba(40, 45, 55, 0.93);
      background-clip: padding-box;
      text-shadow: 0 1px black;
      -gtk-icon-shadow: 0 1px black;
      outline-color: rgba(216, 222, 233, 0.3);
      border-color: #1d2128;
      background-color: #f1f1f1; }
      .osd scale slider:hover {
        color: white;
        border-color: #232831;
        background-image: linear-gradient(to bottom, rgba(65, 74, 91, 0.93), rgba(65, 74, 91, 0.93));
        background-clip: padding-box;
        text-shadow: 0 1px black;
        -gtk-icon-shadow: 0 1px black;
        outline-color: rgba(216, 222, 233, 0.3);
        background-color: #f1f1f1; }
      .osd scale slider:active {
        color: white;
        border-color: #232831;
        background-image: linear-gradient(to bottom, rgba(52, 59, 73, 0.93), rgba(52, 59, 73, 0.93));
        background-clip: padding-box;
        text-shadow: none;
        -gtk-icon-shadow: none;
        outline-color: rgba(216, 222, 233, 0.3);
        background-color: #f1f1f1; }
      .osd scale slider:disabled {
        color: #808690;
        border-color: #232831;
        background-image: linear-gradient(to bottom, rgba(58, 63, 73, 0.5), rgba(58, 63, 73, 0.5));
        background-clip: padding-box;
        box-shadow: none;
        text-shadow: none;
        -gtk-icon-shadow: none;
        background-color: #f1f1f1; }
      .osd scale slider:backdrop {
        color: @theme_fg_color;
        border-color: #232831;
        background-image: linear-gradient(to bottom, rgba(178, 178, 178, 0.5), rgba(178, 178, 178, 0.5));
        background-clip: padding-box;
        box-shadow: none;
        text-shadow: none;
        -gtk-icon-shadow: none;
        background-color: #b2b2b2; }
        .osd scale slider:backdrop:disabled {
          background-color: #f1f1f1; }
  scale value {
    color: alpha(currentColor,0.4); }
  scale marks {
    color: alpha(currentColor,0.4); }
    scale marks.top {
      margin-bottom: 6px;
      margin-top: -12px; }
    scale marks.bottom {
      margin-top: 6px;
      margin-bottom: -12px; }
    scale marks.top {
      margin-right: 6px;
      margin-left: -12px; }
    scale marks.bottom {
      margin-left: 6px;
      margin-right: -12px; }
  scale.fine-tune marks.top {
    margin-bottom: 6px;
    margin-top: -9px; }
  scale.fine-tune marks.bottom {
    margin-top: 6px;
    margin-bottom: -9px; }
  scale.fine-tune marks.top {
    margin-right: 6px;
    margin-left: -9px; }
  scale.fine-tune marks.bottom {
    margin-left: 6px;
    margin-right: -9px; }
  scale.horizontal indicator {
    min-height: 6px;
    min-width: 1px; }
  scale.horizontal.fine-tune indicator {
    min-height: 3px; }
  scale.vertical indicator {
    min-height: 1px;
    min-width: 6px; }
  scale.vertical.fine-tune indicator {
    min-width: 3px; }
  scale.horizontal.marks-before:not(.marks-after) slider {
    min-height: 16px;
    min-width: 16px;
    margin: -7px;
    border: none;
    border-radius: 50%;
    background-color: #f1f1f1;
    box-shadow: none; }
  scale.horizontal.marks-before:not(.marks-after).fine-tune slider {
    margin: -7px; }
  scale.horizontal.marks-before:not(.marks-after) slider:hover {
    min-height: 16px;
    min-width: 16px;
    margin: -7px;
    border: none;
    border-radius: 50%;
    background-color: #f1f1f1;
    box-shadow: none; }
  scale.horizontal.marks-before:not(.marks-after).fine-tune slider {
    margin: -7px; }
  scale.horizontal.marks-before:not(.marks-after) slider:active {
    min-height: 16px;
    min-width: 16px;
    margin: -7px;
    border: none;
    border-radius: 50%;
    background-color: #f1f1f1;
    box-shadow: none; }
  scale.horizontal.marks-before:not(.marks-after).fine-tune slider {
    margin: -7px; }
  scale.horizontal.marks-before:not(.marks-after) slider:disabled {
    min-height: 16px;
    min-width: 16px;
    margin: -7px;
    border: none;
    border-radius: 50%;
    background-color: #f1f1f1;
    box-shadow: none; }
  scale.horizontal.marks-before:not(.marks-after).fine-tune slider {
    margin: -7px; }
  scale.horizontal.marks-before:not(.marks-after) slider:backdrop {
    min-height: 16px;
    min-width: 16px;
    margin: -7px;
    border: none;
    border-radius: 50%;
    background-color: #f1f1f1;
    box-shadow: none; }
  scale.horizontal.marks-before:not(.marks-after).fine-tune slider {
    margin: -7px; }
  scale.horizontal.marks-before:not(.marks-after) slider:backdrop:disabled {
    min-height: 16px;
    min-width: 16px;
    margin: -7px;
    border: none;
    border-radius: 50%;
    background-color: #f1f1f1;
    box-shadow: none; }
  scale.horizontal.marks-before:not(.marks-after).fine-tune slider {
    margin: -7px; }
  scale.horizontal.marks-after:not(.marks-before) slider {
    min-height: 16px;
    min-width: 16px;
    margin: -7px;
    border: none;
    border-radius: 50%;
    background-color: #f1f1f1;
    box-shadow: none; }
  scale.horizontal.marks-after:not(.marks-before).fine-tune slider {
    margin: -7px; }
  scale.horizontal.marks-after:not(.marks-before) slider:hover {
    min-height: 16px;
    min-width: 16px;
    margin: -7px;
    border: none;
    border-radius: 50%;
    background-color: #f1f1f1;
    box-shadow: none; }
  scale.horizontal.marks-after:not(.marks-before).fine-tune slider {
    margin: -7px; }
  scale.horizontal.marks-after:not(.marks-before) slider:active {
    min-height: 16px;
    min-width: 16px;
    margin: -7px;
    border: none;
    border-radius: 50%;
    background-color: #f1f1f1;
    box-shadow: none; }
  scale.horizontal.marks-after:not(.marks-before).fine-tune slider {
    margin: -7px; }
  scale.horizontal.marks-after:not(.marks-before) slider:disabled {
    min-height: 16px;
    min-width: 16px;
    margin: -7px;
    border: none;
    border-radius: 50%;
    background-color: #f1f1f1;
    box-shadow: none; }
  scale.horizontal.marks-after:not(.marks-before).fine-tune slider {
    margin: -7px; }
  scale.horizontal.marks-after:not(.marks-before) slider:backdrop {
    min-height: 16px;
    min-width: 16px;
    margin: -7px;
    border: none;
    border-radius: 50%;
    background-color: #f1f1f1;
    box-shadow: none; }
  scale.horizontal.marks-after:not(.marks-before).fine-tune slider {
    margin: -7px; }
  scale.horizontal.marks-after:not(.marks-before) slider:backdrop:disabled {
    min-height: 16px;
    min-width: 16px;
    margin: -7px;
    border: none;
    border-radius: 50%;
    background-color: #f1f1f1;
    box-shadow: none; }
  scale.horizontal.marks-after:not(.marks-before).fine-tune slider {
    margin: -7px; }
  scale.vertical.marks-before:not(.marks-after) slider {
    min-height: 16px;
    min-width: 16px;
    margin: -7px;
    border: none;
    border-radius: 50%;
    background-color: #f1f1f1;
    box-shadow: none; }
  scale.vertical.marks-before:not(.marks-after).fine-tune slider {
    margin: -7px; }
  scale.vertical.marks-before:not(.marks-after) slider:hover {
    min-height: 16px;
    min-width: 16px;
    margin: -7px;
    border: none;
    border-radius: 50%;
    background-color: #f1f1f1;
    box-shadow: none; }
  scale.vertical.marks-before:not(.marks-after).fine-tune slider {
    margin: -7px; }
  scale.vertical.marks-before:not(.marks-after) slider:active {
    min-height: 16px;
    min-width: 16px;
    margin: -7px;
    border: none;
    border-radius: 50%;
    background-color: #f1f1f1;
    box-shadow: none; }
  scale.vertical.marks-before:not(.marks-after).fine-tune slider {
    margin: -7px; }
  scale.vertical.marks-before:not(.marks-after) slider:disabled {
    min-height: 16px;
    min-width: 16px;
    margin: -7px;
    border: none;
    border-radius: 50%;
    background-color: #f1f1f1;
    box-shadow: none; }
  scale.vertical.marks-before:not(.marks-after).fine-tune slider {
    margin: -7px; }
  scale.vertical.marks-before:not(.marks-after) slider:backdrop {
    min-height: 16px;
    min-width: 16px;
    margin: -7px;
    border: none;
    border-radius: 50%;
    background-color: #f1f1f1;
    box-shadow: none; }
  scale.vertical.marks-before:not(.marks-after).fine-tune slider {
    margin: -7px; }
  scale.vertical.marks-before:not(.marks-after) slider:backdrop:disabled {
    min-height: 16px;
    min-width: 16px;
    margin: -7px;
    border: none;
    border-radius: 50%;
    background-color: #f1f1f1;
    box-shadow: none; }
  scale.vertical.marks-before:not(.marks-after).fine-tune slider {
    margin: -7px; }
  scale.vertical.marks-after:not(.marks-before) slider {
    min-height: 16px;
    min-width: 16px;
    margin: -7px;
    border: none;
    border-radius: 50%;
    background-color: #f1f1f1;
    box-shadow: none; }
  scale.vertical.marks-after:not(.marks-before).fine-tune slider {
    margin: -7px; }
  scale.vertical.marks-after:not(.marks-before) slider:hover {
    min-height: 16px;
    min-width: 16px;
    margin: -7px;
    border: none;
    border-radius: 50%;
    background-color: #f1f1f1;
    box-shadow: none; }
  scale.vertical.marks-after:not(.marks-before).fine-tune slider {
    margin: -7px; }
  scale.vertical.marks-after:not(.marks-before) slider:active {
    min-height: 16px;
    min-width: 16px;
    margin: -7px;
    border: none;
    border-radius: 50%;
    background-color: #f1f1f1;
    box-shadow: none; }
  scale.vertical.marks-after:not(.marks-before).fine-tune slider {
    margin: -7px; }
  scale.vertical.marks-after:not(.marks-before) slider:disabled {
    min-height: 16px;
    min-width: 16px;
    margin: -7px;
    border: none;
    border-radius: 50%;
    background-color: #f1f1f1;
    box-shadow: none; }
  scale.vertical.marks-after:not(.marks-before).fine-tune slider {
    margin: -7px; }
  scale.vertical.marks-after:not(.marks-before) slider:backdrop {
    min-height: 16px;
    min-width: 16px;
    margin: -7px;
    border: none;
    border-radius: 50%;
    background-color: #f1f1f1;
    box-shadow: none; }
  scale.vertical.marks-after:not(.marks-before).fine-tune slider {
    margin: -7px; }
  scale.vertical.marks-after:not(.marks-before) slider:backdrop:disabled {
    min-height: 16px;
    min-width: 16px;
    margin: -7px;
    border: none;
    border-radius: 50%;
    background-color: #f1f1f1;
    box-shadow: none; }
  scale.vertical.marks-after:not(.marks-before).fine-tune slider {
    margin: -7px; }
  scale.color {
    min-height: 0;
    min-width: 0; }
    scale.color trough {
      background-image: image(#232831);
      background-repeat: no-repeat; }
    scale.color.horizontal {
      padding: 0 0 15px 0; }
      scale.color.horizontal trough {
        padding-bottom: 4px;
        background-position: 0 -3px;
        border-top-left-radius: 0;
        border-top-right-radius: 0; }
      scale.color.horizontal slider:dir(ltr):hover, scale.color.horizontal slider:dir(ltr):backdrop, scale.color.horizontal slider:dir(ltr):disabled, scale.color.horizontal slider:dir(ltr):backdrop:disabled, scale.color.horizontal slider:dir(ltr), scale.color.horizontal slider:dir(rtl):hover, scale.color.horizontal slider:dir(rtl):backdrop, scale.color.horizontal slider:dir(rtl):disabled, scale.color.horizontal slider:dir(rtl):backdrop:disabled, scale.color.horizontal slider:dir(rtl) {
        margin-bottom: -15px;
        margin-top: 6px; }
    scale.color.vertical:dir(ltr) {
      padding: 0 0 0 15px; }
      scale.color.vertical:dir(ltr) trough {
        padding-left: 4px;
        background-position: 3px 0;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0; }
      scale.color.vertical:dir(ltr) slider:hover, scale.color.vertical:dir(ltr) slider:backdrop, scale.color.vertical:dir(ltr) slider:disabled, scale.color.vertical:dir(ltr) slider:backdrop:disabled, scale.color.vertical:dir(ltr) slider {
        margin-left: -15px;
        margin-right: 6px; }
    scale.color.vertical:dir(rtl) {
      padding: 0 15px 0 0; }
      scale.color.vertical:dir(rtl) trough {
        padding-right: 4px;
        background-position: -3px 0;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0; }
      scale.color.vertical:dir(rtl) slider:hover, scale.color.vertical:dir(rtl) slider:backdrop, scale.color.vertical:dir(rtl) slider:disabled, scale.color.vertical:dir(rtl) slider:backdrop:disabled, scale.color.vertical:dir(rtl) slider {
        margin-right: -15px;
        margin-left: 6px; }
    scale.color.fine-tune.horizontal:dir(ltr), scale.color.fine-tune.horizontal:dir(rtl) {
      padding: 0 0 12px 0; }
      scale.color.fine-tune.horizontal:dir(ltr) trough, scale.color.fine-tune.horizontal:dir(rtl) trough {
        padding-bottom: 7px;
        background-position: 0 -6px; }
      scale.color.fine-tune.horizontal:dir(ltr) slider, scale.color.fine-tune.horizontal:dir(rtl) slider {
        margin-bottom: -15px;
        margin-top: 6px; }
    scale.color.fine-tune.vertical:dir(ltr) {
      padding: 0 0 0 12px; }
      scale.color.fine-tune.vertical:dir(ltr) trough {
        padding-left: 7px;
        background-position: 6px 0; }
      scale.color.fine-tune.vertical:dir(ltr) slider {
        margin-left: -15px;
        margin-right: 6px; }
    scale.color.fine-tune.vertical:dir(rtl) {
      padding: 0 12px 0 0; }
      scale.color.fine-tune.vertical:dir(rtl) trough {
        padding-right: 7px;
        background-position: -6px 0; }
      scale.color.fine-tune.vertical:dir(rtl) slider {
        margin-right: -15px;
        margin-left: 6px; }

