/**************
* Source List *
***************/
.source-list {
  -GtkTreeView-horizontal-separator: 1px;
  -GtkTreeView-vertical-separator: 6px;
  background-color: #434c5e;
  border: solid #232831;
  color: @theme_fg_color;
  border-right-width: 1px; }
  .source-list .category-expander {
    color: transparent; }
  .source-list .badge {
    background-image: none;
    background-color: rgba(0, 0, 0, 0.4);
    color: @theme_fg_color;
    border-radius: 10px;
    padding: 0 6px;
    margin: 0 3px;
    border-width: 0; }
    .source-list .badge:selected:backdrop, .source-list .badge:selected:hover:backdrop {
      background-color: rgba(0, 0, 0, 0.2);
      color: @theme_selected_fg_color; }
  .source-list row,
  .source-list .list-row {
    border: none;
    padding: 0; }
    .source-list row > GtkLabel,
    .source-list row > label,
    .source-list .list-row > GtkLabel,
    .source-list .list-row > label {
      padding-left: 6px;
      padding-right: 6px; }

